*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'roboto';

}

.right{
    display: flex;
    flex-direction: column;
}

.noteHead{
    width: 100%;
    height: 11%;
    background-color: rgb(0, 30, 140);
    display: flex;
    align-items: center;
    padding: 1%;
    gap: 2%;
}
.rightgroupimg{
    height: 100%;
    width: 6%;
    border-radius:50% ;
    padding: 1.2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.rightgroupHeading{
    color: white;
}
.nogroup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    gap: 1rem;
}
.innergroup:focus{
    background-color: rgba(128, 128, 128,0.2);
}
.innergroup{
    display: flex;
    padding: 0.5rem;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 5%;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 10px;

}
.noteBody::-webkit-scrollbar {
    width: 10px;
}
.noteBody::-webkit-scrollbar-track {
    background: rgb(217, 217, 217); 
}
.noteBody::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    height: 10px;
    border-left: 2px solid rgb(217, 217, 217);
    border-right: 2px solid rgb(217, 217, 217);
}
.noteBody{
    height: 67%;
    box-sizing: border-box;
    overflow-y: auto;
}
.groupHeading{
    color: black;
}
.newNote{
    height: 22%;
    width: 100%;
    background-color: rgb(0, 30, 140);
    border-bottom-left-radius: 10px;
    padding: 1rem;
}
.encryptimg{
    width: 10%;
    height: 100%;
    margin-right: 1%;
}
.encrypt{
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 100%;

}

.encryptText{
    margin-top: 2%;
    color: rgb(41,41,41);
}
.newNote>textarea{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    font-size: large;
    padding-right: 7%;
}
.notesBody{
    padding: 1rem;
    padding-bottom: 0.2rem;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    margin: 1.5% 2% 0% 2%;
}
.notestext {
    white-space: pre-wrap; 
   
  }
  
.sendButton{
    position: absolute;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    color: blue;
}
.groupimg{
    height: 100%;
    width: 18%;
    border-radius:50% ;
    padding: 1.2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.left{
    width: 30%;
    height: 100%;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.notesLogo{
    height: 70%;
    width: 40%;
}
.groups{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}
.groups::-webkit-scrollbar {
    width: 10px;
}
.groups::-webkit-scrollbar-track {
    background: rgb(217, 217, 217); 
}
.groups::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    height: 10px;
    border-left: 2px solid rgb(217, 217, 217);
    border-right: 2px solid rgb(217, 217, 217);
}
.heading{
    padding: 1rem;
}
.groups:not(:empty) .button {
    position: sticky;
    bottom: 10%;
    left: 70%;
}
.noteDate{
    text-align: end;
    font-size: small;
    color: rgb(54, 54, 54);
    font-weight: 900;
    position: relative;
    right: 2%;
    top: 2%;
}
.noteFooter{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.list{
    list-style:disc;
    text-align: center;
    margin-bottom: 0.1rem;

}
.list>li{
    padding: 0.2rem;
}

.sendButtonActive {
    filter: invert(39%) sepia(94%) saturate(7500%) hue-rotate(220deg) brightness(100%) contrast(100%);
    position: absolute;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
  }
  
  .sendButtonDisabled {
    filter: grayscale(100%) brightness(70%);
    position: absolute;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    color: blue;
  }
.button{
    background-color: rgb(21, 0, 140);
     height: 8%;
     width: 4%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color:white;
    position: absolute;
     top: 85%;
    left: 18%;
    font-size: 3.5rem;
    text-align: center;
}
.right{
    width: 85%;
    width: 100%;
    background-color: rgb(218, 229, 245);
}
.left {
    width: 25%;
    height: 100%;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.right {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(218, 229, 245);
}

.showRight .right {
    display: flex;
}

@media screen and (max-width: 500px) {
    .main {
        flex-direction: column;
    }

    .left {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .right {
        display: none;
        width: 100%;
        height: 100%;
    }

    .showRight .left {
        display: none;
    }

    .showRight .right {
        display: flex;
    }

    .backButton {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: white;
        visibility: visible;
        font-weight: 500;
    }
    .rightgroupimg{
        width: 15%;
        height: 80%;
    }
    li{
        margin-left: 1.5rem;
    }
    .groupimg{
        width: 15%;
    }
    .button{
        width: 15%;
        left: 80%;
    }
}
@media screen and (min-width: 501px) {
    .right {
        display: flex;
        width: 75%;
    }
    .backButton{
        visibility: hidden;
    }
}

